<html>
    <head>
        <title>
            랜덤 엄준식 생성기
        </title>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
        <style>
            .outer-divs {
                overflow: hidden;
            }

            .hori-stack-divs {
                float: left;
            }

            .modifier-holder-move {
                transition: transform 1s;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <transition-group name="modifier-holder" v-if="mode=='editing'" class="outer-divs" tag="div">
                <div v-for="(modifier, index) in modifiers" :key="modifier.id" class="hori-stack-divs">
                    <modifier-editer :index="index" :modifier="modifier" @swap="swap">

                    </modifier-editer>
                </div>
            </transition-group>
            
            <div v-if="mode=='testing'" class="outer-divs">
                <div v-for="(modifier, index) in modifiers" class="hori-stack-divs">
                    {{ modifier.type }}
                    <br>
                    {{ modifier.content }}
                </div>
            </div>

            <div>
                <button @click="switchMode"> {{ mode }} </button>
            </div>
        </div>


        <script>
            Vue.component('random-modifier-editer', {
                props: ['']
            });


            Vue.component('modifier-editer', {
                props: ['modifier', 'index'],
                data: function() {
                    return {
                        type: 'fixed',
                    };
                },
                methods: {
                    rightMove: function() {
                        this.$emit('swap', this.index, this.index+1);
                    },
                    leftMove: function() {
                        this.$emit('swap', this.index, this.index-1);
                    },
                },
                watch: {
                    type: function(val) {
                        if (this.modifier) {
                            this.modifier.type = this.type;
                        }
                    },
                    modifier: function(val) {
                        this.type = val.type;
                    },
                },
                created: function() {
                    if (this.modifier) {
                        this.type = this.modifier.type;
                    }
                },
                template: `
                    <div>
                        <button @click="leftMove"><</button>
                        <button @click="rightMove">></button>
                        <br>

                        <input type="radio" :id="String(index)+'r'" value="random" v-model="type">
                        <label :for="String(index)+'r'">랜덤</label>
                        <input type="radio" :id="String(index)+'f'" value="fixed" v-model="type">
                        <label :for="String(index)+'f'">고정</label>
                    </div>
                `,
            });


            const app = new Vue({
                el: '#app',
                data: {
                    mode: 'editing',
                    modifiers: [
                        {
                            id: 0,
                            type: 'random',
                        },
                        {
                            id: 1,
                            type: 'fixed',
                            content: '도둑'
                        },
                        {
                            id: 2,
                            type: 'fixed',
                        },
                    ],
                },
                methods: {
                    switchMode: function() {
                        if (this.mode == 'editing') {
                            this.mode = 'testing';
                        }
                        else if (this.mode == 'testing') {
                            this.mode = 'editing';
                        }
                    },
                    swap: function(a, b) {
                        const rule = this.modifiers.length;

                        if (a < 0) {
                            a += rule;
                        }
                        else if (a >= rule) {
                            a -= rule;
                        }

                        if (b < 0) {
                            b += rule;
                        }
                        else if (b >= rule) {
                            b -= rule;
                        }

                        let temp = this.modifiers[a];
                        this.modifiers[a] = this.modifiers[b];
                        this.modifiers[b] = temp;

                        this.modifiers.splice();
                    },
                },
            });
        </script>
    </body>
</html>